/* ----------------------------------------------------------------------------
                              Boilerplate Website Style
---------------------------------------------------------------------------- */
* {
   margin: 0;
   padding: 0;
}
*,
*::before,
*::after {
   box-sizing: inherit;
}
html {
   box-sizing: border-box;
   /* 1rem = 10pt, 1.6rem = 16pt, 7.2rem = 72pt */
   font-size: 62.5%;
   scroll-behavior: smooth;
}

/* ----------------------------------------------------------------------------
                              Website-wide exclusive
---------------------------------------------------------------------------- */
body {
    font-family: 'Raleway', sans-serif;
}

/* ----------------------------------------------------------------------------
                                    Flex
---------------------------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container > * {
    flex-grow: 1;
}
.container main {
    flex-grow: 0;
}
header {
    align-self: flex-end;
}

/* ----------------------------------------------------------------------------
                                    Header
---------------------------------------------------------------------------- */
header img {
    margin-right: 3rem;
} 
/* ----------------------------------------------------------------------------
                                    Main
---------------------------------------------------------------------------- */
h1 span {
    font-style: italic;
}

/* ----------------------------------------------------------------------------
                                    Dark
---------------------------------------------------------------------------- */
body.darkmode {
    background-color: black;
    color: white;
}
